h1 {
    color: #d04255;
}

h2 {
    color: #d5763f;
}

h3 {
    color: #e5b567;
}

h4 {
    color: #a8c373;
}

h5 {
    color: #6c99bb;
}

h6 {
    color: #9e86c8;
}

.md-typeset a {
  font-weight: 600;
  /* text-decoration: underline dotted; */
}



[data-md-color-scheme="default"] {
    --md-hue: 45deg;
    --md-primary-fg-color: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-fg-color--light: hsla(var(--md-hue), 15%, 9%, 0.55);
    --md-primary-fg-color--lighter: hsla(var(--md-hue), 15%, 9%, 0.35);
    --md-primary-fg-color--lightest: hsla(var(--md-hue), 15%, 9%, 0.15);
    --md-primary-fg-color--dark: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-bg-color: hsla(var(--md-hue), 15%, 100%, 1);
    --md-primary-bg-color--light: hsla(var(--md-hue), 15%, 100%, 0.7);
    --md-primary-bg-color--lighter: hsla(var(--md-hue), 15%, 100%, 0.3);
    --md-primary-bg-color--lightest: hsla(var(--md-hue), 15%, 100%, 0.1);
}

[data-md-color-scheme="default"] ::selection {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

[data-md-color-scheme="slate"] {
    --md-hue: 45deg;
    --md-primary-fg-color: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-fg-color--light: hsla(var(--md-hue), 15%, 9%, 0.54);
    --md-primary-fg-color--dark: hsla(var(--md-hue), 15%, 9%, 1);
    --md-primary-bg-color: hsla(var(--md-hue), 15%, 100%, 1);
    --md-primary-bg-color--light: hsla(var(--md-hue), 15%, 100%, 0.7);
}

[data-md-color-scheme="slate"] ::selection {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

:root>* {

    --md-typeset-a-color: var(--md-primary-fg-color);
}





/* 
[data-md-color-scheme="twp"] {

} */




/* Define primary colors for black */
/* [data-md-color-primary="black"] {
    /* --md-primary-fg-color: hsla(var(--md-hue), 15%, 9%, 1); */
    /* --md-primary-fg-color--light: hsla(var(--md-hue), 15%, 9%, 0.54); */
    /* --md-primary-fg-color--dark: hsla(var(--md-hue), 15%, 9%, 1); */
    /* --md-primary-bg-color: hsla(var(--md-hue), 15%, 100%, 1); */
    /* --md-primary-bg-color--light: hsla(var(--md-hue), 15%, 100%, 0.7); */

    /* Typeset `a` color shades */
    /* --md-typeset-a-color: hsl(40, 50%, 50%); */

    /* Form button */
    /* .md-button {
        color: var(--md-typeset-a-color);

        // Primary button
        &--primary {
            color: hsla(var(--md-hue), 0%, 100%, 1);
            background-color: var(--md-typeset-a-color);
            border-color: var(--md-typeset-a-color);
        }
    } */

    /* Header */
    /* .md-header {
        background-color: hsla(var(--md-hue), 15%, 9%, 1);
    } */

    /* [tablet portrait -]: Layered navigation */
    /* @include break-to-device(tablet portrait) {

        // Repository information container
        .md-nav__source {
            background-color: hsla(var(--md-hue), 15%, 11%, 0.87);
        }
    } */

    /* [tablet -]: Layered navigation */
    /* @include break-to-device(tablet) {

        // Site title in main navigation
        html & .md-nav--primary .md-nav__title[for="__drawer"] {
            background-color: hsla(var(--md-hue), 15%, 9%, 1);
        }
    } */

    /* [screen +]: Set background color for tabs */
    /* @include break-from-device(screen) {

        // Navigation tabs
        .md-tabs {
            background-color: hsla(var(--md-hue), 15%, 9%, 1);
        }
    } */
} */